.btn-start{
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.btn-last{
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.btn-filler{
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}